 <%= form_with model: message,
     
      url: company_conversation_path(@company.id, @conversation.id),
      local: false,
      html: {  id: "new_message", class: "chat-form max-w-2xl mx-auto mt-4" } do |f| %>
  <div class="flex flex-col space-y-3">
    <%= f.text_area :content,
          id: "user_question",
          rows: 3,
          placeholder: "Ask your question...",
          class: "rounded-md border border-gray-300 bg-gray-100 text-gray-800 py-2 px-3 w-full resize-none focus:outline-none focus:ring-2 focus:ring-teal-500 focus:border-transparent",
          aria: { label: "Message text" } %>
    <%= f.submit "Send",
          class: "bg-teal-500 hover:bg-teal-700 text-sm font-semibold text-white py-2 px-4 rounded transition-colors duration-200 self-end" %>
  </div>
<%end%>