<% descriptions = [
  {
    title: "Subscribe",
    description: "Subscribe to the newsletter to be notified.",
  },
  {
    title: "Get Notified",
    description: "The day before the initial public offering trades, a notification email will land in your mailbox.",
  },
  {
    title: "Unsubscribe",
    description: "Done with notifications? No problem. Unsubscribe anytime by clicking the unsubscribe link located in the email notifications.",
  },
]%>
<hr class="border-teal-400"/>
<section class="lg">
  <div class="max-w-6xl mx-auto p-4 sm:p-6 lg:p-8 bg-white">
    <div class="text-center">
      <h2 class="text-base text-teal-600 font-semibold tracking-wide uppercase">Features</h2>
      <p class="mt-2 text-5xl lg:text-7xl font-bold tracking-tight text-teal-600">
        How It Works
      </p>
    </div>
    <div class="flex flex-wrap my-12">
      <% descriptions.each_with_index do |item, index| %>
        <div class="w-full border-b border-t md:w-1/2  lg:w-1/3 p-8" >
          <div class="px-4">
            <span
                class="flex w-16 h-16 mx-auto items-center
                  justify-center text-2xl font-bold rounded-full
                  bg-teal-100 text-teal-500"
              >
              <%= index + 1%>
            </span>
          </div>
          <div class="flex items-center mb-6 mt-7">
            <div class="font-mono ml-4 text-xl text-center w-full">
              <%= item[:title] %>
            </div>
          </div>
          <p class="leading-loose text-gray-500 font-mono text-center">
            <%=item[:description]%>
          </p>
        </div>
      <% end %>
    </div>
    <div class="flex flex-wrap -mx-8 items-center">
      <div class="w-full px-8">
        <div class="lg:mb-12 lg:mb-0 pb-12 lg:pb-0 mt-16 lg:mt-0 mx-6 lg:mx-0">
          <div class="container mx-auto p-4 overflow-x-auto">
            <table
              class="
                w-full 
                bg-white 
                border 
                border-gray-300
                max-w-[2520px] 
                mx-auto 
                xl:px-20 
                md:px-10 
                sm:px-2
                px-4"
            >
              <thead>
                <tr class="bg-teal-500 border-b border-gray-300">
                  <th class="py-2 px-4 text-white font-mono">Company</th>
                  <th class="py-2 px-4 text-white font-mono">Symbol</th>
                  <th class="py-2 px-4 text-white font-mono">Estimated Volume</th>
                  <th class="py-2 px-4 text-white font-mono">Expected To Trade</th>
                  <th class="py-2 px-4 text-white font-mono">Lead Managers</th>
                  <th class="py-2 px-4 text-white font-mono">Number of Shares</th>
                  <th class="py-2 px-4 text-white font-mono">Price High</th>
                  <th class="py-2 px-4 text-white font-mono">Price Low</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
