<h1>Thank you for signing up for IPO Notifier!</h1>
<p>
  To start receiving timely IPO updates, please confirm your email address by clicking the button below:
</p>
<p>
  <%= link_to "Confirm Subscription", confirmation_url(token: @subscriber.confirmation_token), class: "text-blue-600 underline" %>
</p>
<p>
  If you didn’t sign up for this, you can safely ignore this email.
</p>
<p>Thank you and have a great day!</p>
<p>
  Cheers

  Ipo Notifier Team
</p>

