<h1>Thank you for subscribing to iponotifier.com!</h1>
<p>
  You have successfully signed up to iponotifier.com. Never again miss your next
  opportunity to invest in the next ipo unicorn. 
</p>
<p>
  To unsubscribe please click the following link. #link goes here#
</p>
<p>Thanks for joining and have a great day!</p>
