<turbo-stream action="update" target="subscription_response">
  <template>
    <% if @message_type == :success %>
      <div class="text-green-500 font-bold">
        <%= @message %>
      </div>
    <% else %>
      <div class="text-red-500 font-bold">
        <%= @message %>
      </div>
    <% end %>
  </template>
</turbo-stream>
