<%= form_with url: ENV['SUBSCRIBE_EMAIL_LAMBDA_URL'], method: :post, authenticity_token: false, html: { class: "w-max" } do |f| %>
  <div class="flex items-center flex-col">
    <% if @errors && @errors[:email].present? %>
      <span class="font-mono leading-tight w-full text-red-500 mb-2">
        <%= @errors[:email].first %>
      </span>
    <% end %>
    <div class="w-full">
      <div class="border border-teal-400 rounded py-5 px-4">
        <h4 class="font-mono text-sm uppercase text-gray-500 mb-3">Subscribe to the newsletter</h4>
        <%= f.email_field :email, 
          class: "rounded-md border border-gray-300 bg-gray-100 min-w-0 text-gray-800 py-2 px-3 mr-2", 
          placeholder: "Enter your email", 
          aria: { invalid: @errors&.dig(:email).present? } %>
        <%= f.submit "Subscribe", 
          class: "flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded ml-auto" %>
      </div>
    </div>
  </div>
<% end %>